
body {
    background-image: url(../imagez/properbackground.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
}

header h1 {
    margin: 0;
    font-size: 3em;
}

footer {
    font-family:'Courier New', Courier, monospace; text-align: center; color: white;
    background-color: black;
    width: 100%;
    padding: 20px;
    position: fixed;
    bottom: 0px;
}

    background-color: black;
    padding: 10px;
    text-align: center;
    position: fixed;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
}

header {
    font-family:'Courier New', Courier, monospace; text-align: center; color: white;
    background-color: black;
    position: fixed;
    width: 100%;
    padding: 10px;
}

.spacer {
    height: 140px;
}

f1 {
font-size: 1.5em;
}



  div.gallery {
    margin: 190px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 300%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }

  div.blankspace {
    height: 100px;

  }

  h3 {
    font-family:'Courier New', Courier, monospace;
    font-size: 3em;
    text-align:center;
  }

  div.space {
    height: 75px;
  }

  div.spacey {
    height: 50px;
  }
  video {
    margin-left: auto;
    margin-right: auto; 
    display: block;  
  }

  h4 {
    font-family:'Courier New', Courier, monospace;
    font-size: 3em;
    padding-left: 20px;

  }

  p {
    font-family:'Courier New', Courier, monospace;
    font-size: 1.5em;
    padding-left: 20px;
  }
