<!-- This css stylesheet documents all the css code used in my website and neatly seperates it from the html so as to not overcomplicate the code and also simplify the addition of css code to the website-->
body {
    background-image: url(../imagez/properbackground.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
}
<!-- This css element tells the program which image is used as the background of the pages and changes the size of the image so that it fills the background of the website with just the one image-->

header h1 {
    margin: 0;
    font-size: 3em;
}

footer {
    font-family:'Courier New', Courier, monospace; text-align: center; color: white;
    background-color: black;
    width: 100%;
    padding: 20px;
    position: fixed;
    bottom: 0px;
}
<!-- this is the css element that i had to override in the index file, more specifically the position value had to be changed to relative instead of fixed so that the footer would still appear at the bottom of the page but only after the reader has scrolled to the bottom--> 
nav {
    background-color: black;
    padding: 10px;
    text-align: center;
    position: fixed;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
}

header {
    font-family:'Courier New', Courier, monospace; text-align: center; color: white;
    background-color: black;
    position: fixed;
    width: 100%;
    padding: 10px;
}
<!-- This line of code adds the header to the page and determines what font the text will appear in, giving mulitple options in order in case a specific browser doesnt support a specific font-->
.spacer {
    height: 140px;
}

f1 {
font-size: 1.5em;
}



  div.gallery {
    margin: 190px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 300%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }

  div.blankspace {
    height: 100px;

  }

  h3 {
    font-family:'Courier New', Courier, monospace;
    font-size: 3em;
    text-align:center;
  }

  div.space {
    height: 75px;
  }

  div.spacey {
    height: 50px;
  }
  video {
    padding-left: 875px;
  }

  h4 {
    font-family:'Courier New', Courier, monospace;
    font-size: 3em;
    padding-left: 20px;

  }

  p {
    font-family:'Courier New', Courier, monospace;
    font-size: 1.5em;
    padding-left: 20px;
  }
